.special_div {
    overflow: hidden;
    padding: 0px !important;
    margin: 15px 0px !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 20px;
    transition: .2s;
    align-items: center !important;
}

.special_div:hover {
    background-color: #013567;
    box-shadow: 0 28px 60px rgb(255,255,255, .3);
    transform: translateY(-10px);
}
.special_div2 {
    float: right;
    overflow: hidden;
    padding: 0px !important;
    margin: 15px 0px !important;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    border-radius: 20px;
    transition: .2s;
    align-items: center !important;
}

.special_div2:hover {
    background-color: #013567;
    box-shadow: 0 28px 60px rgb(255,255,255, .3);
    transform: translateY(-10px);
}
.special_img_div {
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 300px;
    border: none;
}
.special_img {
    width: 100%;
    height: 100%;
}
.special_text_div {
    position: relative;
    justify-content: center !important;
    align-items: center !important;
    flex: 1;
    padding: 15px;
}
.special_heading {
    color: #fadb2a;
    font-size: 22px;
}
.special_separator {
    height: 5px;
    width: 50px;
    background-color: #00468b;
    margin-bottom: 10px;
}
.special_text {
    text-align: justify;
    text-justify: inter-word;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    text-overflow: ellipsis;
    padding: 0px;
    margin: 0px;
}

@media only screen and (max-width: 992px) {
    .special_div, .special_div2 {
        flex-direction: column;
    }
    .special_img_div {
        width: fit-content;
    }
    .special_img {
        display: block;
        margin: auto;
        width: 80%;
        height: 80%;
        transform: scale(1.3);
    }
    .special_heading {
        color: #fadb2a;
        font-size: larger;
        text-align: center;
    }
    .special_text {
        font-size: 13px;
        font-weight: lighter;
        color: #fff;
        text-transform: capitalize;
        text-overflow: ellipsis;
    }
}

@media only screen and (max-width: 576px) {
    .special_div, .special_div2 {
        overflow: hidden;
        flex-direction: column;
        background-color: #013567;
        box-shadow: 0 28px 60px rgb(255,255,255, .3);
        transform: translateY(-10px);
    }
    .special_img_div {
        width: fit-content;
    }
    .special_img {
        width: 70%;
        height: 70%;
    }
    .special_heading {
        color: #fadb2a;
        font-size: larger;
        text-align: center;
    }
    .special_text {
        font-size: 11px;
        font-weight: lighter;
        color: #fff;
        text-transform: capitalize;
        text-overflow: ellipsis;
    }
}
/* * {
    border: 1px solid;
} */