.serviceinsdie_text_col {
    margin: 80px auto;
    width: 50%;
}
.serviceinsdie_text_col_end {
    margin: 80px auto;
    width: 50%;
}
.serviceinsdie_text_div {
    height: fit-content;
}
.service_heading_style {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 1.1px;
    font-weight: 900;
    color: #fadb2a;
}
.service_para_style {
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    text-align: justify;
}
.mobileanimation {
    position: absolute;
    top: -5px;
    left: 20px;
    z-index: 1 !important;
    width: 95%;
    height: 320px;
    background-size: contain;
    background-image: url("./imagesforservice/phone.png");
    background-repeat: no-repeat;
}
.animated_mobile_inside_div {
    width: 140px;
    height: 300px !important;
    position: relative;
    left: 11px;
    top: 11px;
    overflow: hidden;
    border-radius: 15px;
}
.animated_mobile_inside {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.tabletanimation {
    position: relative;
    top: 0px;
    left: 200px;
    width: 95%;
    height: 300px;
    background-size: contain;
    background-image: url("./imagesforservice/tablet.png");
    background-repeat: no-repeat;
}
.animated_tablet_inside_div {
    width: 78%;
    height: 320px;
    position: relative;
    left: 13px;
    top: 11px;
    overflow: hidden;
    border-radius: 10px;
}
.animated_tablet_img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.laptopanimation {
    position: relative;
    top: -60px;
    left: -40px;
    width: 130%;
    height: 430px;
    background-size: contain;
    background-image: url("./imagesforservice/laptop.png");
    background-repeat: no-repeat;
}
.animated_laptop_inside_div {
    width: 74%;
    height: 320px;
    position: relative;
    left: 100px;
    top: 39px;
    overflow: hidden;
}
.animated_laptop_img {
    display: block;
    width: 100%;
    height: 100%;
}
.div_1_for_slide {
    position: absolute;
    top: -100px;
    width: 100%;
    height: 100%;
}
.image_1_for_slide {
    position: relative;
    left: 0px;
    top: 0px;
    width: 110%;
    height: 110%;
}
.div_2_for_slide {
    width: 100%;
    height: 100%;
}
.image_2_for_slide {
    position: relative;
    left: 20px;
    top: -10px;
    width: 100%;
    height: 110%;
}
.animationcol {
    height: fit-content;
}
.image_3_for_slide {
    width: 100%;
    height: auto;
}
.image_4_for_slide {
    position: absolute;
    top: -550px;
    width: 100%;
    height: auto;
}
@media only screen and (max-width: 992px) {
    .serviceinsdie_text_col {
        margin: 0px auto;
        width: 100%;
    }
    .services_inside_row {
        flex-direction: column-reverse !important;
    }
    .serviceinsdie_text_col_end {
        margin: 0px auto;
        width: 100%;
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
    .service_heading_style {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 1.1px;
    }
    .service_para_style {
        font-size: 18px;
        line-height: 32px;
        color: #fff;
        text-align: justify;
        margin: 0px;
        padding: 0px;
    }
    .mobileanimation {
        top: 20px;
        left: 0px;
        width: 23%;
        height: 320px;
    }
    .animated_mobile_inside_div {
        width: 140px;
        height: 300px !important;
        left: 11px;
        top: 11px;
        border-radius: 15px;
    }
    .tabletanimation {
        top: 20px;
        left: 300px;
        width: 62%;
        height: 300px;
    }
    .animated_tablet_inside_div {
        width: 93.5%;
        height: 320px;
        left: 13px;
        top: 11px;
        border-radius: 10px;
    }
    .laptopanimation {
        position: relative;
        top: -40px;
        left: -55px;
        width: 120%;
        height: 460px;
    }
    .animated_laptop_inside_div {
        width: 69.7%;
        height: 360px;
        left: 111px;
        top: 41px;
    }
    .animated_laptop_img {
        display: block;
        width: 100%;
        height: 100%;
    }
    .div_1_for_slide {
        top: 0px;
    }
    .image_1_for_slide {
        width: 100%;
        height: 100%;
    }
    .div_2_for_slide {
        width: 100%;
        height: 100%;
    }
    .image_2_for_slide {
        position: relative;
        left: 20px;
        top: 25px;
        width: 100%;
        height: 110%;
    }
}
@media only screen and (max-width: 767px) {
    .serviceinsdie_text_col {
        margin: 0px;
        position: relative;
        bottom: 20px;
        border-color: #fff;
    }
    .serviceinsdie_text_col_end {
        margin: 0px auto;
        width: 100%;
        padding-top: 0px !important;
        padding-bottom: 30px !important;
    }
    .services_inside_row {
        flex-direction: column-reverse !important;
    }
    .service_heading_style {
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 1.1px;
    }
    .service_para_style {
        font-size: medium;
        line-height: 32px;
        color: #fff;
        text-align: justify;
        margin: 0px;
        padding: 0px;
    }
    .mobileanimation {
        top: 20px;
        left: -30px;
        width: 23%;
        height: 320px;
    }
    .animated_mobile_inside_div {
        width: 107px;
        height: 228px !important;
        left: 9px;
        top: 9px;
        border-radius: 10px;
    }
    .animated_mobile_inside {
        border-radius: 10px;
    }
    .tabletanimation {
        top: 20px;
        left: 200px;
        width: 75%;
        height: 250px;
    }
    .animated_tablet_inside_div {
        width: 87%;
        height: 315px;
        left: 12px;
        top: 10px;
        border-radius: 3px !important;
    }
    .animated_tablet_img {
        border-radius: 5px;
    }
    .laptopanimation {
        position: relative;
        top: -40px;
        left: -80px;
        width: 130%;
        height: 380px;
    }
    .animated_laptop_inside_div {
        width: 72%;
        height: 300px;
        left: 92px;
        top: 36px;
    }
    .animated_laptop_img {
        display: block;
        width: 100%;
        height: 100%;
    }
    .div_1_for_slide {
        position: absolute;
        /* left: -20px; */
        top: -30px;
        width: 100%;
        height: 100%;
    }
    .image_1_for_slide {
        position: relative;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
    }
    .div_2_for_slide {
        width: 100%;
        height: 100%;
    }
    .image_2_for_slide {
        position: relative;
        left: 20px;
        top: -10px;
        width: 100%;
        height: 110%;
    }
    .image_3_for_slide {
        width: 100%;
        height: auto;
    }
    .image_4_for_slide {
        position: absolute;
        top: -550px;
        width: 100%;
        height: auto;
    }
}
@media only screen and (max-width: 576px) {
    .service_heading_style {
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 1.1px;
    }
    .mobileanimation {
        position: absolute;
        top: 0px;
        left: 70px;
        z-index: 1 !important;
        width: 23%;
        height: 180px;
    }
    .animated_mobile_inside_div {
        width: 78px;
        height: 176px !important;
        position: relative;
        left: 7px;
        top: 7px;
        border-radius: 10px;
    }
    .animated_mobile_inside {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .tabletanimation {
        position: relative;
        top: 0px;
        left: 220px;
        width: 100%;
        height: 180px;
    }
    .animated_tablet_inside_div {
        position: absolute;
        width: 240px;
        height: 183px;
        left: 8px;
        top: 7px;
        border-radius: 10px;
    }
    .animated_tablet_img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }
    .laptopanimation {
        position: relative;
        top: -40px;
        left: 28px;
        width: 120%;
        height: 260px;
    }
    .animated_laptop_inside_div {
        width: 325px;
        height: 200px !important;
        left: 63px;
        top: 25px;
    }
    .animated_laptop_img {
        display: block;
        width: 100%;
        height: 100%;
    }
    .div_1_for_slide {
        position: absolute;
        top: -20px;
        width: 100%;
        height: 100%;
        text-align: center;
        margin: auto;
    }
    .image_1_for_slide {
        position: relative;
        left: 0px;
        top: 0px;
        width: 90%;
        height: 90%;
    }
    .div_2_for_slide {
        width: 100%;
        height: 100%;
    }
    .image_2_for_slide {
        position: relative;
        left: 30px;
        top: 10px;
        width: 88%;
        height: 100%;
    }
    .animationcol {
        height: fit-content;
    }
    .serviceinsdie_text_col {
        margin: 0px;
        position: relative;
        bottom: 0px;
        border-color: #fff;
        width: 50%;
    }
}
@media only screen and (max-width: 500px) {
    .service_heading_style {
        font-size: 26px;
        line-height: 26px;
        letter-spacing: 1.1px;
    }
    .mobileanimation {
        position: absolute;
        top: 0px;
        left: 30px;
        z-index: 1 !important;
        width: 23%;
        height: 180px;
    }
    .animated_mobile_inside_div {
        width: 78px;
        height: 176px !important;
        position: relative;
        left: 7px;
        top: 7px;
        border-radius: 10px;
    }
    .animated_mobile_inside {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .tabletanimation {
        position: relative;
        top: 0px;
        left: 170px;
        width: 100%;
        height: 180px;
    }
    .animated_tablet_inside_div {
        position: absolute;
        width: 240px;
        height: 183px;
        left: 8px;
        top: 7px;
        border-radius: 10px;
    }
    .animated_tablet_img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }
    .laptopanimation {
        position: relative;
        top: -40px;
        left: -5px;
        width: 120%;
        height: 260px;
    }
    .animated_laptop_inside_div {
        width: 325px;
        height: 200px !important;
        left: 63px;
        top: 25px;
    }
    .animated_laptop_img {
        display: block;
        width: 100%;
        height: 100%;
    }
    .div_1_for_slide {
        position: absolute;
        top: -20px;
        width: 100%;
        height: 100%;
        text-align: center;
        margin: auto;
    }
    .image_1_for_slide {
        position: relative;
        left: 0px;
        top: 0px;
        width: 90%;
        height: 90%;
    }
    .div_2_for_slide {
        width: 100%;
        height: 100%;
    }
    .image_2_for_slide {
        position: relative;
        left: 30px;
        top: 10px;
        width: 88%;
        height: 100%;
    }
    .animationcol {
        height: fit-content;
    }
    .serviceinsdie_text_col {
        margin: 0px;
        position: relative;
        bottom: 0px;
        border-color: #fff;
        width: 50%;
    }
}
@media only screen and (max-width: 400px) {
    .service_heading_style {
        font-size: 22px;
        line-height: 22px;
        letter-spacing: 1.1px;
    }
    .mobileanimation {
        position: absolute;
        top: 20px;
        left: 30px;
        z-index: 1 !important;
        width: 23%;
        height: 150px;
    }
    .animated_mobile_inside_div {
        width: 65px;
        height: 140px !important;
        position: relative;
        left: 6px;
        top: 5px;
        border-radius: 10px;
    }
    .animated_mobile_inside {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .tabletanimation {
        position: relative;
        top: 0px;
        left: 120px;
        width: 70%;
        height: 150px;
    }
    .animated_tablet_inside_div {
        position: absolute;
        width: 201px;
        height: 183px;
        left: 6px;
        top: 5px;
        border-radius: 8px;
    }
    .animated_tablet_img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }
    .laptopanimation {
        position: relative;
        top: -30px;
        left: -15px;
        width: 110%;
        height: 210px;
    }
    .animated_laptop_inside_div {
        width: 262px;
        height: 165px !important;
        left: 51px;
        top: 17px;
    }
    .animated_laptop_img {
        display: block;
        width: 100%;
        height: 100%;
    }
    .div_1_for_slide {
        position: absolute;
        top: -20px;
        width: 100%;
        height: 100%;
        text-align: center;
        margin: auto;
    }
    .image_1_for_slide {
        position: relative;
        left: 0px;
        top: 0px;
        width: 90%;
        height: 90%;
    }
    .div_2_for_slide {
        width: 100%;
        height: 100%;
    }
    .image_2_for_slide {
        position: relative;
        left: 30px;
        top: 10px;
        width: 88%;
        height: 100%;
    }
    .animationcol {
        height: fit-content;
    }
    .serviceinsdie_text_col {
        margin: 0px;
        position: relative;
        bottom: 0px;
        border-color: #fff;
        width: 50%;
    }
    .serviceinsdie_text_col_2 {
        margin-top: 40px;
    }
    .image_3_for_slide {
        width: 100%;
        height: auto;
    }
    .image_4_for_slide {
        top: -330px;
    }
}
/* * {
    border: 1px solid;
} */