.service_col {
    padding: 8px !important;
    justify-content: center !important;
    align-items: center !important;
}
/* .service_element {
    height: 320px !important;
    position: relative;
    text-align: center;
} */